* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
}

body {
    font-family: sans-serif;
    text-decoration: none;
    background: url('../Billeder/brickwall.webp');
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
}

/*side under arbejde start*/
main h1.under-arbejde {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    color: #de8200;
    -webkit-text-stroke: #000000 0.1rem;
}

main p.under-arbejde {
    text-align: center;
    display: flex;
    justify-content: center;
}

main p.under-arbejde a {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #de8200;
    -webkit-text-stroke: #000000 0.1rem;
    font-size: 3rem;
    font-weight: bold;
}
/*side under arbejde slut*/



/* navbar start---------------------------------------------------------*/
.logo {
    width: 12rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #de8200;
    box-shadow: 0rem 0rem 1rem #000000;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    text-decoration: none;
    font-size: 1rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #000000;
    display: block;
}

header .navbar ul li a:hover {
    color: #00bdd1;
}

header .navbar ul li ul {
    position: absolute;
    display: none;
    left: 0;
    background: #de8200;
    border: solid 0.1rem #000000;
    border-top: none;
    padding-bottom: 1rem;
}

header .navbar ul li ul li a {
    text-decoration: none;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ .navbar {
    display: block;
}

header label {
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    display: none;
}
/*navbar slut-----------------------------------------------------------*/



/*nyheder start---------------------------------------------------------*/
main {
    padding-top: 2.8rem;
}

section.nyheder picture {
    width: 50%;
}

section.nyheder img {
    width: 45rem;
}

main a {
    text-decoration: none;
    color: #000000;
}

section.nyheder {
    background: #c7c7c7;
    box-shadow: 0rem 0.5rem 1rem #000000;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

section.nyheder article {
    display: flex;
    flex-direction: column;
}

section.nyheder div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 12%;
}

h1 {
    font-size: 3rem;
    padding: 3rem 0rem;
}

box {
    padding: 3rem 4rem;
}

p.date {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    padding: 0.3rem 0.1rem;
    border: solid 0.2rem #000000;
    width: 3rem;
    height: 4rem;
}

p.nyheder-tekst {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}
/*nyheder stop-----------------------------------------------------------*/



/*kalender start---------------------------------------------------------*/
section.kalender img {
    width: 25rem;
}

section.kalender {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 21rem;
    background: linear-gradient(to right, transparent 15%, #de8200 45%);
    justify-content: center;
    padding: 0rem 14rem;
}

section.kalender figure {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
}

section.kalender article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
    width: 60%;
}

section.kalender h2 a:hover {
    color: #00bdd1;
}

section.kalender ul a:hover {
    color: #00bdd1;
    text-decoration: underline;
}

section.kalender h2 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

section.kalender ul {
    font-size: 1.3rem;
    line-height: 4rem;
}
/*kalender slut*/



/*billetter start*/
section.billetter {
    background: linear-gradient(to left, transparent 15%, #de8200 45%);
    margin-top: 21rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 0rem 20rem 0rem 8rem;
}

section.billetter figure {
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
}

section.billetter img {
    width: 30rem;
}

section.billetter h2 {
    font-size: 4rem;
    text-align: center;
    padding: 0rem 0rem 0rem 7rem;
}

section.billetter h2 a:hover {
    color: #00bdd1;
}
/*billetter slut*/



/*tilbud start*/
section.tilbud {
    background: linear-gradient(to right, transparent 15%, #de8200 45%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 21rem;
    padding: 2rem 5rem 2rem 5rem;
}

section.tilbud figure {
    display: flex;
    justify-content: center;
}

section.tilbud img {
    width: 45rem;
}

section.tilbud h2 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 15rem;
}

section.tilbud h2 a:hover {
    color: #00bdd1;
}
/*tilbud slut*/



/*galleri start*/
section.galleri {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #DE8200;
    padding: 2rem;
    margin-top: 21rem;
}

section.galleri h2 {
    font-size: 5rem;
    margin: 0rem 15rem;
}

section.galleri .reflect img {
    transform: scaleX(-1);
}

section.galleri figure img {
    width: 10rem;
}

section.galleri-billeder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8rem;
    box-shadow: 0rem 0rem 0.5rem 0.5rem #000000;
}

section.galleri-billeder img {
    width: 25%;
    height: 23rem;
    float: left;
    object-fit: cover;
}

section.galleri h2 a:hover {
    color: #00bdd1;
}
/*gallri slut*/



/*footer start*/
footer {
    margin-top: 0rem;
    background: linear-gradient(to bottom, transparent 15%, #de8200 25%);
    padding: 15rem 3rem 3rem 3rem;
}

footer section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

footer h3 {
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

footer article h3 a {
    text-decoration: none;
    color: #000000;
}

footer article ul {
    list-style: none;
}

footer article ul li {
    line-height: 1.5rem;
    font-size: 1rem;
}

footer article ul li a.underline {
    text-decoration: underline;
    color: #000000;
}

footer article ul li a {
    text-decoration: none;
    color: #000000;
}

article.footer-logoer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

article.footer-logoer figure img {
    width: 5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

article.footer-tekst h3 a:hover {
    color: #00bdd1;
}

footer article ul li a.underline:hover {
    text-decoration: underline;
    color: #00bdd1;
}

footer article ul li a:hover {
    text-decoration: none;
    color: #00bdd1;
}