* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
}

body {
    font-family: sans-serif;
    text-decoration: none;
    background: url('../Billeder/brickwall.webp');
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
}

/* navbar start*/
.logo {
    height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #de8200;
    box-shadow: 0rem 0rem 1rem #000000;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    text-decoration: none;
    font-size: 1rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #000000;
    display: block;
}

header .navbar ul li a:hover {
    color: #00bdd1;
}

header .navbar ul li ul {
    position: absolute;
    display: none;
    left: 0;
    background: #de8200;
    border: solid 0.1rem #000000;
    border-top: none;
    padding-bottom: 1rem;
}

header .navbar ul li ul li a {
    text-decoration: none;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ .navbar {
    display: block;
}

header label {
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    display: none;
}
/*navbar slut*/



/*nyheder start*/
main {
    padding-top: 2.8rem;
}

main img {
    width: 100%;
    height: auto;
}

section.nyheder {
    background: #c7c7c7;
    box-shadow: 0rem 0rem 1rem #000000;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 12%;
}

h1 {
    font-size: 3rem;
    padding: 3rem 0rem;
}

box {
    padding: 3rem 4rem;
}

p.date {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    padding: 0.3rem 0.1rem;
    border: solid 0.2rem #000000;
    width: 3rem;
    height: 4rem;
}

p.nyheder-tekst {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}